*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100%;
  min-height: 100vh;
  line-height: 1.5;
	font-size: 2rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit; 
  font: inherit; 
	letter-spacing: inherit;
}

.grid {
	border: 2px green solid;
	display: grid;
	position: relative;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 60vmin;
	width: 60vmin;

}

.cell {
	border: 1px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-cover {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
}

#restart {
	display: block;
	/* margin-top: 10rem; */
	padding: 2rem;
	border-radius: 15%;
	outline: none;
	z-index: 1;
}

.win {
	position: fixed;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 100vh;
	backdrop-filter: blur(1rem);
	transform: translateY(-100vh);
	transition: transform 2s ease-out;
}

.active {
	transform: translateY(0);
}

.form{
	display: flex;
	flex-wrap: wrap;
}

.inputs-wrap {
	position: relative;
}

.inputs {
	margin: 2rem;
	padding: 0.5rem;
}

i{
	position: absolute;
	right: 11%;
	top: 37%;
}

.inputs[placeholder="Second Player"] {
	direction:RTL;
}

.second-player-wrap i {
	right: 81%;

}


i:hover {
	color: rgba(0, 0, 0, 0.5)
}

i:active {
	color: green;
}

.readonly {
	border-color: transparent;
	outline: transparent;
	cursor: default;
}

.your-turn{
	background-color: rgba(231, 200, 123, 0.658);
}

.hidden {
	display: none;
}
