*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100%;
  min-height: 100vh;
  line-height: 1.5;
	font-size: 2rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(180deg, #99b2dd, #e9afa3);
	font-family: avenir;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit; 
  font: inherit; 
	letter-spacing: inherit;
}

.grid {
	border: 2px green solid;
	display: grid;
	position: relative;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 60vmin;
	width: 60vmin;
	font-size: 4rem;
	color: #f9dec9;
	text-shadow: 0 0 2rem white;
}

.cell {
	border: 1px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-cover {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
}

#restart {
	display: block;
	padding: 1rem 3rem;
	border-radius: 5rem;
	outline: none;
	z-index: 2;
	border: solid 0.1rem #f9dec9;
	background-color: rgba(255, 255, 255, 0.25);
	position: relative;
	transition: background-color 0.5 linear;
}

#restart:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

#restart::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: inherit;
	top: 0;
	left: 0;
	z-index: 0;
	background:transparent;
	border-radius: inherit;
	transition: all 1s linear;
	border: 0.5rem solid #f9dec9;
}

#restart:hover::before{
	transform: scale(2);
}

.win {
	position: fixed;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 100vh;
	backdrop-filter: blur(1rem);
	transform: translateY(-100vh);
	transition: transform 2s ease-out;
	font-size: 4rem;
}

.animation {
	animation: stretch 10s 2s infinite;
}

.active {
	transform: translateY(0);
}

.form{
	display: flex;
	flex-wrap: wrap;
}

.inputs-wrap {
	position: relative;
}

.inputs {
	margin: 2rem;
	padding: 0.5rem;
	background-color: transparent;
	transition: transform 0.5s ease-out;
	border-color: #f9dec9;
}

.inputs:focus {
	/* box-shadow: 0 0 2rem 1rem #f9dec9
	, 0 0 2rem 0.5rem #f9dec9 ; */
	outline-color:#f9dec9;
}

i{
	position: absolute;
	right: 11%;
	top: 37%;
}

.inputs[placeholder="Second Player"] {
	direction:RTL;
}

.second-player-wrap i {
	right: 81%;
}

i:hover {
	color: rgba(0, 0, 0, 0.5)
}

i:active {
	color: green;
}

.readonly {
	border-color: transparent;
	outline: transparent;
	cursor: default;
}

.your-turn{
	/* background-color: #F9DEC9; */
	color: #f9dec9;
	transform: scale(1.5);
}

.hidden {
	display: none;
}

@keyframes stretch {
	0%,
	100% {
		transform: scaleX(1);
	}

	50% {
		transform: scaleX(2)
	}
}





