*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* ??min-height: 100%; */
}

body {
  min-height: 100%;
  min-height: 100vh;
  line-height: 1.5;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit; 
  font: inherit; 
	letter-spacing: inherit;
}

.grid {
	border: 2px green solid;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	height: 50vmin;
	width: 50vmin;

}

.cell {
	border: 1px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
}

#restart {
	display: block;
	margin-top: 10rem;
	padding: 2rem;
	border-radius: 15%;
	outline: none;
	z-index: 1;
}

.win {
	position: fixed;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 100vh;
	backdrop-filter: blur(1rem);
	transform: translateY(-100vh);
	transition: transform 2s ease-out;
}

.active {
	transform: translateY(0);
}

